@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

.mainPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  background-color: #ffd971;
}

.mainPage p {
  font-size: 24px; /* Optional: Adjust the font size as needed */
}

.header {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 20vh;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  text-align: center;
}

.cardContainer {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}
.topCard {
  align-self: flex-start; /* Align the item at the flex-start within the flex container */
}

.bottomCard {
  align-self: flex-end; /* Align the item at the flex-start within the flex container */
}

.topCard,
.bottomCard {
  text-decoration: none;
  color: black;
}
.cardContainer {
  display: flex;
}
