.page{
    background-color:#F2BE55; 
}

.title{
    font-size: 50px; 
}

.main{
    /* border: 1px solid black; */
    min-height: 100vh;
    max-width: 50vh;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    /* text-align: center; */
}

/* .leadboard{
    background-color: #FAE1AD;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
} */

.leadboardCard{
    background-color:#D56359;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: fit-content;

}

.index{
    font-size: 70px; 
    margin-left: 30px;

}

h1{
    color: #FFF;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: normal; 
    margin-bottom: 0;
}

.restaurantImage{
    margin-top: 20px;
    width:150px;
    height: 150px;
}

.cardElem1{
    display: flex;
}

.cardElem2{
    float: right;
    display: flex;
    margin-right: 5px;
}

p{
    color: #FFF;
    font-family: Inter;

}

