.page{
    background-color:#F2BE55; 
}


.main{
    border: 1px solid black;
    min-height: 100vh;
    max-width: 50vh;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;

}
.return{
    margin-top: 3em;
    margin-left: 2em;
}

.returnImage{
    display: block;
}

.text{
    margin-top: 3em;
}
.text h2{
    /* margin-top: 2em; */
    color: #2E1F4F;
    font-family: Inter;
    font-size: 24px;
    
}

.urlLink{
    margin-top: 2em;
    border-radius: 10px;
    background: #FAE1AD;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;  
    width: 323px;
    height: 62px;   
    position: relative;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.urlLink h2{
    color: #726D80;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    text-align: center;
    margin-top: 1.3em;
    margin-right: 2em;

}
.copy{
    width: 10%;
}

.footer{
    margin-top: 4em;
}