@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

.main {
  /* border: 1px solid black; */
  min-height: 100vh;
  max-width: 50vh;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
  background-color: #f2be55;
  font-family: "Inter", sans-serif;
}
.return {
  padding-top: 3em;
  margin-left: 2em;
}

.returnImage {
  display: block;
}

.text {
  /* padding-left: 3em; */
  padding-top: 4em;
}
.text h2 {
  /* margin-top: 2em; */
  color: #2e1f4f;
  font-family: Inter;
  font-size: 24px;
}

.urlLink {
  /* margin-top: 2em; */
  border-radius: 10px;
  background: #fae1ad;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 323px;
  height: 62px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.urlLink h2 {
  color: #726d80;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  text-align: center;
  /* margin-top: 1.3em; */
  margin-right: 2em;
}
.copy {
  width: 10%;
}

.footer {
  margin-top: 4em;
}
.userZone {
  margin-top: 3em;
  display: block;
  color: #2e293a;
}
.button {
  border-radius: 10px;
  background: #d56359;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 149px;
  height: 45.115px;
  flex-shrink: 0;
  color: #2e293a;
  font-weight: 800;
  margin-bottom: 10px;
}
